<div class="col-md-12">
  <% @reddits.each do |reddit| %>
    <h2><%= reddit.title %></h2>
    <br>
    <%= link_to("See link", reddit_path(reddit), class: "btn btn-info")%>
    <%= link_to("Delete", reddit_path(reddit), class: "btn btn-danger",
                 method: :delete, data: { confirm: "Are you sure?"})%>
  <% end %>
</div>
