<div class="col-md-4 col-md-offset-4">
  <div class="group">
    <% if @reddit.editable_by?(current_user) %>
      <%= link_to("Edit", edit_reddit_path(@reddit), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h1><%= @reddit.title%></h1>
  <hr>

  <a href="<%= @reddit.url%>" class: "btn btn-primary">Visit Now</a>
</div>
